[user]
  name = Sebastian Bresin
  email = sebastian.bresin@gmail.com
[core]
  editor = nvim
  pager = delta
  excludesfile = $HOME/.gitignore
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[init]
  defaultBranch = main

[delta]
  line-numbers = true
  dark = true
  syntax-theme = Catppuccin-mocha

