[user]
	name = Sebastian Bresin
	email = sebastian.bresin@gmail.com
[core]
  editor = nvim
  pager = delta
	excludesfile = $HOME/.gitignore
[credential "https://github.com"]
	helper = !/usr/local/bin/gh auth git-credential
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
  defaultBranch = main

[delta]
  line-numbers = true
  dark = true
  syntax-theme = Catppuccin-mocha

[safe]
	directory = /var/folders/pn/nsgfsfs92px1p4hkxzxswslr0000gp/T/tmp-62215-n0XK1t1SBn92
